<launch>
        <!-- start p2os and laser nodes -->
       	<include file="$(find pioneer2d_nav)/p2os_laser.launch" /> 
	
	<!-- enable teleoperation via joystick -->
	<include file="$(find pioneer2d_nav)/teleop_joy.launch" />
	
	<!-- launch robot description file -->
	<param name="robot_description" command="cat $(find p2os_urdf)/defs/pioneer3dx.urdf.xacro" />
	
	<!-- publish robot description -->
	<include file="$(find p2os_urdf)/launch/pioneer3dx_urdf.launch" />
</launch>
