<launch>
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <node pkg="p2os_driver" type="p2os" name="odom_node" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="stp_laser" output="screen" args="0.145 0.0 0.05 0 0 0 -1 base_link laser 100">
  </node>
</launch>

